body {
    background-image: url("https://wallpaperplay.com/walls/full/8/8/3/244127.jpg");
}
.homescreen {
    background-color: white;
    border: 1px black solid;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    text-align: center;
}

div.greeting{
    position: absolute;
    margin-top: 60px;
    margin-left: 150px;
}

button.beginQuiz {
    padding: 18px 45px;
    margin-top: 250px;
}
